.heading{
  background: #ffc93c;
  color:#323330;
  height:90px;
  width:100%;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
}
body{
    margin: 0;
  padding: 0;
}